body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);

}

.container{

 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
 padding: 1rem;
 margin-top: 1.5rem;
 border-radius: 1rem;
}

.img-logo{
    width: 10rem;
    height: 4rem;
}


.video{
    margin-top: 2rem;
    max-width: 10rem;
}

.card-img{
    height: 25rem;
}
